
Dictionary/.idea/vcs.xml
Dictionary/.idea/runConfigurations.xml
Dictionary/.idea/misc.xml
Dictionary/.idea/gradle.xml
Dictionary/.idea/codeStyles/Project.xml
Dictionary/.idea/caches/build_file_checksums.ser
